### In my EDA notebook, I essentially performed standardization of my data by computing the normalization by the z-score.  I will move onto creating dummy features from the state/territory series, and splitting the data into testing and training datasets.

In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split

#### First I import the packages used to load the csv and create the dummy variables.

In [2]:
institution_data = pd.read_csv('institution_data.csv')
institution_data = institution_data.drop("Unnamed: 0",axis=1)
institution_data.columns

Index(['Institution_ID', 'institution_name', 'city',
       'state_or_territory_abbreviation', 'predominant_degree_awarded',
       'territory_or_state_area_sqmi', 'territory_or_state_population',
       'admission_rate', 'act_25th_percentile_score', 'graduation_rate',
       'graduation_frequency'],
      dtype='object')

#### The dataset looks good, I've removed that annoying "Unnamed: 0" series that mirrors the index value for each record.  Next I'll use pandas get_dummies on series "state_or_territory_abbreviation".

In [7]:
institution_data_dummies = pd.get_dummies(institution_data, columns=['state_or_territory_abbreviation'], prefix='', prefix_sep='', drop_first=True)
institution_data_dummies = institution_data_dummies.drop(columns = ['institution_name','city','predominant_degree_awarded'])
institution_data_dummies.head()

,Institution_ID,territory_or_state_area_sqmi,territory_or_state_population,admission_rate,act_25th_percentile_score,graduation_rate,graduation_frequency,AL,AR,AZ,...,TN,TX,UT,VA,VI,VT,WA,WI,WV,WY
0,100654,-0.329042,-0.654946,-0.007511,-1.249341,-1.796206,-0.207178,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,100663,-0.329042,-0.654946,-0.260956,0.408841,-0.354295,0.494820,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,100706,-0.329042,-0.654946,0.802489,0.961569,-0.984914,-0.317649,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,100724,-0.329042,-0.654946,-0.979817,-1.249341,-1.588804,0.325588,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,100751,-0.329042,-0.654946,-0.611170,0.408841,0.427793,4.138001,1,0,0,...,0,0,0,0,0,0,0,0,0,0

#### The above head of shows the dummy features included on the far right of the dataframe.  I removed the prefix and prefix seperator to make the feature names easier to read.  Now I need to split the data into training and test sets.  My independent variables include all features that are not graduation_rate.  The dependent variable is the graduation_rate series.

In [8]:
X_train, X_test, y_train, y_test = train_test_split(institution_data_dummies.drop(columns='graduation_rate'), institution_data_dummies.graduation_rate, test_size = .30, random_state = 0)

In [9]:
X_train.to_csv('X_train.csv')
X_test.to_csv('X_test.csv')
y_train.to_csv('y_train.csv')
y_test.to_csv('y_test.csv')

#### I exported my training and test dataframes for the future model notebook.